$baseFontFamily: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

$navbarBackground: #F8F8F8;
$navbarBackgroundHighlight: darken($navbarBackground, 5%);

$navBarText: $grayDark;
$navbarLinkColor: $grayDark;
$navbarLinkColorHover: $grayLight;