- content_for :page_title, "How it works"
- content_for :page_subtitle, "Discover the process on how to figure out this business"
- content_for :hero do
  %p.hide
%p
%h2 Investment process
.row
  .span4
    %h2 Step 1
    %h3 Search for a company
  .span4
    = image_tag "http://placehold.it/360x150"
  .span4
    %p Look through our listings for a company you want to invest in
.row
  .span4
    %h2 Step 2
    %h3 Research, research, research
  .span4
    = image_tag "http://placehold.it/360x150"
  .span4
    %p Check out the company's listing for information.
    %p Peruse the interwebs for information related to the company.
.row
  .span4
    %h2 Step 3
    %h3 Buy shares
  .span4
    = image_tag "http://placehold.it/360x150"
  .span4
    %p Buy them.