- content_for :page_title, "Legal"
- content_for :page_subtitle, "Lawyers? Really?"
%p 
  Who likes laywers? I know I don't. So boring. So, here's what you need to know in simple terms. 
  (For legal mumbo jumbo, see our 
  = link_to "privacy policy", "/privacy"
  and 
  = link_to "terms & conditions", "/terms"
  pages.)
.row
  .span8
    %h3 Buying shares/equity
    %p 
      It is 
      %em your 
      responsiblity to research a company before investing. We do 
      %strong not 
      guarantee any of the companies listed on this website, but we try to make it easy for you to research them.
    %p After buying shares, you will receive documentation from the company on what you have bought.
  .span4
    %ul.thumbnails
      %li.span4
        = image_tag "http://placehold.it/360x200"
.row
  .span4
    %ul.thumbnails
      %li.span4
        = image_tag "http://placehold.it/360x200"
  .span8
    %h3 Listing your company
    %p After buying shares, you will receive documentation from the company on what you have bought.